.info {
  overflow: hidden;
  padding: 80px 0 100px;

  &__top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__text-title {
    position: relative;
    max-width: 764px;
    padding: 27px 0;
    font-size: 36px;
    line-height: 1.35;
    text-transform: uppercase;

    & span {
      @extend %Merriweather-700;
      color: $accent;
    }
  }

  &__top-img {
    position: absolute;
    content: '';
    top: 0;
    right: -458px;
    border-radius: 50%;
  }

  &__inner {
    display: flex;
    justify-content: flex-end;
  }

  &__content-img {
    position: absolute;
    content: '';
    top: 38px;
    right: 720px;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 704px;
    padding-top: 38px;
  }

  &__list {
    padding: 20px 0 33px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & span {
      display: inline-block;
      max-width: 399px;
      width: 100%;
      padding: 15px;
      @extend %GolosText-600;
      color: $title;
      border-left: 2px solid $text-lightest;
    }

    & span>span {
      display: inline;
      max-width: 100%;
      padding: 0;
      border-left: none;

      &:first-child {
        margin-right: 6px;
        text-decoration: line-through $accent;
      }
    }

    &:not(:last-child) {
      border-bottom: 2px solid $text-lightest;
    }
  }

  &__link {
    color: $optional;
  }
}

.blog {
  padding: 100px 0 100px;

  &__title {
    max-width: 800px;
    margin-bottom: 54px;
    font-size: 54px;
    text-transform: uppercase;

    & span {
      display: inline-block;
      max-width: 280px;
      padding-left: 6px;
      @extend %GolosText-400;
      font-size: 20px;
      line-height: 1.2;
      text-transform: none;
      color: $optional;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: (1fr 1fr 1.2fr);
    grid-template-areas:
      "a b c"
      "d e c"
      "f g g";
    gap: 19px;
    list-style: none;
    counter-reset: num;
  }

  &__item {
    position: relative;
    max-height: 100%;
    padding: 20px 20px 20px 72px;
    @extend %GolosText-500;
    color: $title;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: counter(num);
      counter-increment: num;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 20px;
      left: 20px;
      width: 36px;
      height: 36px;
      background-color: $white;
      @extend %GolosText-600;
      border-radius: 50%;
    }

    &:nth-child(1) {
      grid-area: a;
    }

    &:nth-child(2) {
      grid-area: b;
    }

    &:nth-child(3) {
      grid-area: c;
    }

    &:nth-child(4) {
      grid-area: d;
    }

    &:nth-child(5) {
      grid-area: e;
    }

    &:nth-child(6) {
      grid-area: f;
    }

    &:nth-child(7) {
      grid-area: g;
      padding-right: 315px;
    }
  }

  &__img {
    position: absolute;
    content: '';
    right: -63px;
    bottom: -2px;
  }
}

.author {
  padding: 100px 0 100px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  &__title {
    font-size: 54px;
    text-transform: uppercase;
  }

  &__btn-box {
    display: flex;
    justify-content: space-between;
    max-width: 151px;
    width: 100%;
  }

  &__btn-prev,
  &__btn-next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: $title;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    & svg {
      fill: white;
    }
  }

  // &__btn-left {}

  // &__btn-right {}

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 17px;
  }

  &__item {
    max-width: 394px;
    padding: 0 20px;
    margin-bottom: 40px;
  }

  &__img {
    width: 320px;
    height: 320px;
    margin: 0 auto 28px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__box {
    text-align: center;
  }

  &__name {
    display: block;
    margin-bottom: 6px;
    @extend %GolosText-600;
    color: $title;
    font-size: 24px;
  }

  &__rank {
    display: block;
    margin-bottom: 20px;
    color: $text-lighten;
  }

  &__link {
    display: inline-block;
    padding: 8px 10px;
    @extend %GolosText-500;
    font-size: 16px;
    color: $optional;
    border: 1px solid $optional;
    border-radius: 25px;
  }
}