.info {
  padding: 80px 0 200px;

  &__top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__text-title {
    max-width: 764px;
    padding: 27px 0;
    font-size: 36px;
    line-height: 1.35;
    text-transform: uppercase;

    & span {
      @extend %Merriweather-700;
      color: $accent;
    }
  }

  &__top-img {
    background-position: center top;
    border-radius: 50%;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  &__content-img {
    position: absolute;
    content: '';
    top: 35px;
    left: -28px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 687px;
    padding-top: 38px;
  }

  &__list {
    padding: 16px 0 33px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & span {
      display: inline-block;
      max-width: 381px;
      width: 100%;
      padding: 15px;
      @extend %GolosText-600;
      color: $title;
      border-left: 2px solid $text-lightest;
    }

    & span>span {
      display: inline;
      max-width: 100%;
      padding: 0;
      border-left: none;

      &:first-child {
        margin-right: 6px;
        text-decoration: line-through $accent;
      }
    }

    & span:first-child {}

    &:not(:last-child) {
      border-bottom: 2px solid $text-lightest;
    }
  }

  &__link {
    color: $optional;
  }
}